.app {}


/* Header */


/* Begin header top1 */

.header {
    background-color: rgb(199, 211, 172);
}

.grid.wide {
    line-height: var(--top1-height);
}

.header-top-1 {
    height: var(--top1-height);
    margin: 5px 0;
}

.hotline {
    font-size: 1.4rem;
}

.hotline-phone {
    font-size: 1.6rem;
    color: var(--tag-color);
    font-weight: 600;
    text-decoration: none;
}

.header-search {
    border: 1px solid rgb(192, 191, 191);
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
}

.header-search-input {
    outline: none;
    width: 98%;
    margin-left: 6px;
    font-size: 1.6rem;
    border: none;
}

.header-search-btn {
    width: calc(var(--top1-height) + 10px);
    height: 93.4%;
    background-color: rgb(255, 255, 255);
    margin: 0 3px;
    border: 1px solid rgb(206, 204, 204);
    border-radius: 2px;
    cursor: pointer;
}

.header-search-btn-icon {
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--tag-color);
}

.form_register {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.form_register-header {
    text-decoration: none;
    font-size: 1.4rem;
    margin: 0 8px;
    color: var(--text-color);
}

.item-separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 16px;
    top: 6px;
    right: 78px;
}


/* End header top1 */


/* Begin header top2 */

.header-top-2 {
    height: var(--top2-height);
    margin: 10px 0;
}

.header_navbar {
    display: flex;
    align-items: center;
    margin: 0;
}

.header_logo {
    height: 100%;
    display: block;
}

.header_logo-img {
    height: 100%;
}

.header_navbar-list {
    font-size: 1.4rem;
    list-style: none;
    display: flex;
    justify-content: center;
}

.header_navbar-list-icon {
    margin-right: 4px;
}

.header_navbar-list-link {
    text-decoration: none;
    color: var(--text-color);
    line-height: 1.6rem;
    font-weight: 600;
}

.header_navbar-list-link:hover {
    color: rgba(4, 4, 4, 0.5);
}


/* Begon Slider */

.slider {
    height: calc(var(--header-height)*2);
}

.slider_left {
    position: relative;
}

.slider_img {
    width: 600px;
    display: block;
    height: 60%;
}

.slider_content {
    width: 100%;
    position: absolute;
    top: 10%;
    text-align: center;
}

.slider_content_margin {
    margin: 5px 0;
    line-height: initial;
}

.slider_content_head {
    color: white;
    font-size: 3rem;
    font-weight: 700;
}

.slider_content_head-note {
    color: rgb(43, 14, 233);
    font-size: 1.8rem;
}

.slider_content_paragrap {
    color: white;
    font-size: 1.4rem;
    margin: 3px 0;
    font-style: italic;
}

.slider_content_btn {
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 16px;
}

.slider_content_btn:hover {
    background-color: var(--primary-color);
    color: white;
}

.slider_content_head-right {
    color: var(--text-color);
}

.slider_content_paragrap-right {
    color: var(--text-color);
}